$pink-main: #D416B9;
$txt-font: #272A3F;
$txt-font-pink: #CC1BB2;
$txt-font-white: #FFFFFF;

$disabled-color: #E0E0E0;
$block-color: #F0F0F0;

$gradient-button: linear-gradient(180deg, #CB1CB1 0%, #E010C2 100%);
$shadow-pink: 0px 6px 12px rgba(212, 22, 185, 0.23);
$shadow-number-block: inset 0px 2px 5px rgba(0, 0, 0, 0.09);